{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<h1 class="display-4">{{ object.head }}</h1>
{% endblock %}

{% block products %}
<div class="row text-center">
    <div class="col-12">
        <div class="card">
            <img class="card-img-top"
                src="{% mediapath object.preview %}"
                alt="card image dop">
            <div class="card-body">
                <p class="card-text">{{ object.body}}</p>
                <p class="card-text">{{ object.slug }}</p>
                <p class="card-text">Количество просмотров: {{ object.count_views }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
