{% extends 'catalog/base.html' %}

{% block content %}
<h1 class="display-4">Fertilizers Store</h1>
<p class="lead">Fertilizers Store - платформа для покупки и продажи минеральных удобрений,
    а также продуктов органического синтеза</p>
{% endblock %}

{% block products %}
<div class="row text-center">
    {% for object in object_list %}
    <div class="col-3">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{ object.name }}</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">${{ object.price}}</h1>
                <p class="card-text">
                    {% if object.description|length > 100 %}
                      {{ object.description|truncatechars:100 }}
                    {% else %}
                      {{ object.description }}
                    {% endif %}
                </p>
                <button type="button" class="btn btn-lg btn-block btn-outline-primary">Заказать</button>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
