{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<h1 class="display-4">{{ title }}</h1>
{% endblock %}

{% block products %}

<div class="col-md-12 mb-4">
  <a href="{% url 'catalog:add_product' %}" class="btn btn-sm btn-outline-primary">Добавить продукт</a>
</div>
{% for object in object_list %}
<div class="col-3">
    <div class="card mb-4 box-shadow">
        <div class="card-body">
            <p class="card-text">{{ object }}</p>
            <p class="card-text">
                {% if object.active_version %}
                    {{ object.active_version }}
                {% endif %}
            </p>
            <div class="d-flex flex-column">
              <div class="btn-group mt-auto text-right">
                <a href="{% url 'catalog:product_detail' object.pk %}"
                   class="btn btn-sm btn-outline-secondary">View</a>
                <a href="{% url 'catalog:product_update' object.pk %}" type="button"
                   class="btn btn-sm btn-outline-secondary">Update</a>
                <a href="{% url 'catalog:product_delete' object.pk %}" type="button"
                   class="btn btn-sm btn-outline-danger">Delete</a>
      </div>
    </div>
  </div>
    </div>
</div>
{% endfor %}
{% endblock %}
